.spinner {
  width: 24px;
  height: 24px;
  border: 5px solid;
  border-color: #3d898b transparent #3d898b transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000;
  z-index: 1;
}
