<!DOCTYPE html>
<html>
  <head>
    <title>Pull request ai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'pull_request_ai/application', media: 'all' %>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
